<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209299662414-kosdp5ng5bmmkknqjit1kgp7asv66jqi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209299662414-kosdp5ng5bmmkknqjit1kgp7asv66jqi</string>
	<key>API_KEY</key>
	<string>AIzaSyBckxDzow53yxnZSNWc7nDfL10LApJ9XOY</string>
	<key>GCM_SENDER_ID</key>
	<string>209299662414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.felipechun.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-4cccd</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-4cccd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209299662414:ios:656706071d2dbeebac051f</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios-4cccd.firebaseio.com</string>
</dict>
</plist>